{% extends 'base.html' %}
{% block content %}
<script>
new WOW().init()
</script>
<div class="container">
<h2 class="text-muted text-center">TOP SITES</h2>
</div>
<div class="row">
{% for project in projects %}
<div class="col-md-4">
<div class="card wow fadeInLeft" data-wow-delay="0.6s" style="margin:15%;">
        <div class="view overlay zoom ">
                <img src="{{project.landing_image.url}}" class="card-img-top">
                <div class="mask flex-center rgba-blue-light">
                    <a href="{{project.link}}" class="btn btn-pink" >VIEW <i class="far fa-chevron-double-right"></i>  </a>
                </div>
        </div>

<div class="card-body">
    <h6 class="strong-text"> <strong>{{project.title}}</strong> </h6> 
    <h6>By Martino {{project.user}}</h6>
</div>

</div>

</div>
{% endfor %}
</div>

{% endblock %}
