<style>
  #brand {
    color: black;
    border: 2px solid #1565C0;
    padding: 10px;
    border-bottom: none;
    font-size: 18px;
  }

  #brand:hover {
    border-bottom: 2px solid #1565C0;
    color: #64B5F6;
  }

  .accounts {
    padding: 10px;
    letter-spacing: 1.5px;
    color: black;
    font-weight: 700
  }

  .accounts:hover {
    text-decoration: underline;
  }

  #projects {
    padding: 20px;
    background: #4DD0E1;
    top: 0;
    color: white;
    font-weight: bold;
  }

  #projects:hover {
    background: #81D4FA;
  }
 
</style>
<nav style="background-color:white;" class="animated slideInDown navbar-collapse navbar-expand-lg sticky-top ">
  <div class="navbar mx-5">
    <div id="logo">
      <a href="{% url 'home' %}" id="brand"> AWWARDS</a>

    </div>
      <div class="dropdown dropleft">

        <!--Trigger-->
        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">APIS</button>


        <!--Menu-->
        <div class="dropdown-menu dropdown-info">
          <a class="dropdown-item" href="{% url 'profile_list' %}">Profiles</a>
          <a class="dropdown-item" href="{% url 'projects_list' %}">Projects</a>
        </div>
      </div>
    <div class="nav-search">
      <form class="form-inline md-form form-md active-pink active-pink-2 mt-2" action="{% url 'search_results' %}">
        <i class="fas fa-search" aria-hidden="true"></i>
        <input class="form-control form-control-md ml-3 w-75" type="text" placeholder="Search" aria-label="Search"
          name="titles">
      </form>
    </div>
    <div class="nav-right">
      {% if user.is_authenticated %}

      
          <a href="/logout/" class="accounts">Log Out</a>
    
        <a href="{% url 'profile' username=user %}" class="avatar">
            <img class="rounded-circle" alt="" src="{{user.profile.profile_photo.url}}" height="60" width="60" />
          </a>
 
   
          <a href="{% url 'post_site' %}" id="projects">SUBMIT PROJECT</a>
    
   
      {% else %}
 
  <a href="/accounts/login" class="accounts">Log In</a>
      

      
      {%  endif %}
     
      


    </div>
  </div>
</nav>