{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Awwards | Give your best</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
                rel="stylesheet">
        <!-- Material Design for Bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.16/css/mdb.min.css" rel="stylesheet"><br />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
                integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
                crossorigin="anonymous">
</head>
<style>
.rates{
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50,-50);
    background:#FAFAFA;
  
  }
</style>

<body>
        {% include 'navbar.html' %}
        <div class="container">
                <div class="view overlay">
                        <img src="{{projects.image_landing.url}}" width='100%' height='450vh'>
                        <div class="rates">
                                
                        </div>
                        
                        <div class="mask flex-center rgba-black-light">


                                
                        </div>
                </div>
                <br>
                <div class="row">
                        <div class="col-md-3">
                                <h3>Content</h3> <hr class="bg-default"> <br> <h4>{{content}}</h4>
                        </div>
                        <div class="col-md-3">
                                        <h3>Usability</h3> <hr class="bg-success"> <br> <h4>{{usability}}</h4>
                        </div>
                        <div class="col-md-3">
                                        <h3>Design</h3> <hr class="bg-info"> <br> <h4>{{design}}</h4>
                        </div>
                        <div class="col-md-3">
                                        <h3>Average</h3> <hr class="bg-danger"> <br> <h4>{{average}}</h4>
                        </div>
                       
                     
                       
                      
                </div>

                {% if user.is_authenticated %}
                <button class="btn btn-outline-info" type="button" data-toggle="modal" data-target="#VotesForm">Rate</button>
                <a href="{{projects.link}}" class="btn btn-pink btn-md pull-right " target="_blank">LIVE SITE <i
                        class="far fa-chevron-double-right"></i> </a>
                {% if user.id not in auth %}
                <br>
               
<div class="modal fade" id="VotesForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Vote</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
                <div class="form animated slideInDown">
                                <form action="/projects/{{projects.id}}" method="POST">
                                        {% csrf_token %}
                                        {% bootstrap_form form %}
                                        <button class="btn btn-outline-info modal-footer d-flex justify-content-center" type="submit">Submit <i class="fas fa-paper-plane-o ml-1"></i> </button>
                                </form>
                        </div>
      </div>
 
      </div>
    </div>
  </div>
</div>

                {%else%}
                <p class="alert alert-success">Thanks for your rating</p>
                {%endif %}
                {% else %}
                <a href="/accounts/login/" class="btn btn-outline-info ">Log in to rate</a>
                {% endif %}
        </div>
        <div class="card comments">
                <div class="card-header">
                        <h4> Total Votes: {{all|length}} </h4>
                </div>
                <div class="list-group">
                        <ul class="list-group">
                                {%if all%}
                                <table id='comm' class="table">
                                        <th>Voters</th>
                                        <th>Rating</th>
                                        {%for you in all%}<tr>
                                                <td> <img src="{{you.user.profile.profile_photo.url}}" alt="" width='30px' height="30px">  {{you.user}}</td>
                                                <td>
                                                        <div class="design">
                                                                <a href="" class="scores">{{you.design}}.0</a>
                                                                <a href="">{{you.usability}}.0</a>
                                                                <a class='b' href="">{{you.content}}.0</a>
                                                        </div>
                                                </td>
                                                {%endfor%}
                                </table>
                                {%else%}
                                <li class="list-group-item alert alert-info">No votes Available</li>
                                {%endif%}
                        </ul>
                </div>
        </div>
        </div>
        </div>
        <div>
                
        <div class="footer">
                <!-- Footer -->
              <footer class="page-footer font-small unique-color-dark pt-4">
              
                  <!-- Footer Elements -->
                  <div class="container">
                 
                    <!-- Call to action -->
                    <ul class="list-unstyled list-inline text-center py-2">
                      <li class="list-inline-item">
                        <h5 class="mb-1">Awwards <i class="fas fa-trophy"></i>  <br> Innovate,Create and Inspire</h5>
                      </li>
                      <li class="list-inline-item">
                        <a href="/accounts/register/" class="btn btn-outline-white btn-rounded">Sign up!</a>
                      </li>
                    </ul>
                    <!-- Call to action -->
                 
                  </div>
                  <!-- Footer Elements -->
                 
                  <!-- Copyright -->
                  <div class="footer-copyright text-center py-3">© 2019 Copyright:
                    <a > John Muasa</a>
                  </div>
                  <!-- Copyright -->
                 
                 </footer>
                 <!-- Footer -->
              
              </div>





        <!-- jQuery -->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Popper.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
        <!-- Bootstrap -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <!-- Material Design for Bootstrap -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.16/js/mdb.min.js"></script>
        <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
</body>

</html>