{%extends "registration/base.html"%}
{% load bootstrap4 %}
<style>
   #form{
       
   }
</style>
{% block content %}
<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4 " id="form" style="color:white;
    font-family: sans-serif;">
        <h2>Log In</h2>
        <form action="/accounts/login/" method="POST" style="color:#757575;" class="login-box">
            {% csrf_token %}
            {% bootstrap_form form %}

            <div class="form-group">
                <input type="submit" class="btn btn-outline-pink btn-rounded waves-effect text-center" value="Log In"
                    style="text-align:center;">
            </div>
            <input type="hidden" name="next" value="/">
        </form>
        <div class="panel panel-default text-center">
            <hr>
            <h4 class="text-center text-muted">Don't have an account?</h4>
            <a href="/accounts/register" class="btn btn-blue btn-md text-center">Sign Up Here</a>

        </div>
    </div>
    <div class="col-md-4"></div>
</div>
</div>
</div>




{% endblock %}