{%extends "registration/base.html"%}
{% load bootstrap4 %}
<style>
.login-box{
    width:300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-family: sans-serif;
    background: #212121;
    padding: 20px;
    color: white;
    height:500;
    opacity: 0.9;
    }
    .login-box h2{
        float:left;
        font-size:40px;
        border-bottom: 6px solid #4DD0E1;
        margin-bottom: 50px;
        padding: 13px;
    }
</style>
{% block content %} 
<div class="loginbox">
    <h2>Log In</h2>
                    <form action="/accounts/login/" method="POST" style="color:#757575;">
                        {% csrf_token %}
                        {% bootstrap_form form %}

                        <div class="form-group">
                            <input type="submit" class="btn btn-outline-pink btn-rounded waves-effect text-center"
                                value="Log In" style="text-align:center;">
                        </div>
                        <input type="hidden" name="next" value="/">
                    </form>
                    <div class="panel panel-default text-center">
                        <hr>
                        <h4 class="text-center text-muted">Don't have an account?</h4>
                        <a href="/accounts/register" class="btn btn-blue btn-md text-center">Sign Up Here</a>

                    </div>
                </div>
            </div>
</div>

{% endblock %}